<a href="https://colab.research.google.com/github/RalphLynnMora/Coding-Projects/blob/main/SVR_Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import plotly.graph_objects as go
import plotly.express as px
import statistics
from scipy import stats

In [ ]:
# Creating a Dataframe from Dataset (CSV)
with open ("data.csv","r") as file:
    reader = csv.reader(file)
    cols = next(iter(reader))
    df = pd.DataFrame(reader,columns = cols)

cols_type = {'y' : float,'x1' : float,'x2' : float}
df = df.astype(cols_type)
df

          date     y      x1     x2
0   11-04-2019  18.0  23.375  54.50
1   12-04-2019  18.0  17.875  77.50
2   13-04-2019  17.0  17.000  87.50
3   14-04-2019  16.8  15.250  77.50
4   16-04-2019  15.2  17.250  58.25
5   17-04-2019  16.3  19.625  60.00
6   19-04-2019  16.7  10.250  88.75
7   20-04-2019  13.4  11.625  66.25
8   21-04-2019  13.8  15.250  62.75
9   22-04-2019  15.7  18.750  63.75
10  23-04-2019  17.0  18.875  69.00
11  24-04-2019  16.8  20.250  65.00
12  25-04-2019  18.4  19.000  81.50
13  26-04-2019  17.3  18.125  61.75
14  27-04-2019  17.0  17.375  58.50
15  28-04-2019  17.7  22.750  56.25
16  08-05-2019  20.9  24.000  64.25
17  09-05-2019  21.5  19.375  85.50
18  11-05-2019  20.5  20.750  90.00
19  12-05-2019  20.3  19.375  82.00
20  14-05-2019  18.9  16.625  63.75
21  15-05-2019  19.5  18.250  77.50
22  16-05-2019  20.3  24.000  72.50
23  20-05-2019  22.1  25.125  68.75
24  21-05-2019  23.3  26.250  64.75
25  23-05-2019  24.2  27.125  62.25
26  25-05-2019  25.4  27.875  63.00
27  26-05-2019  25.4  28.500  60.00
28  27-05-2019  26.2  28.125  62.00
29  28-05-2019  26.2  28.125  62.00
30  29-05-2019  26.2  28.375  55.50
31  04-06-2019  26.9  24.875  57.50
32  05-06-2019  25.6  25.750  70.00
33  08-06-2019  24.7  24.625  81.75
34  10-06-2019  25.6  25.625  69.00
35  13-06-2019  23.7  22.000  54.50
36  14-06-2019  23.5  21.875  56.75
37  15-06-2019  24.4  26.750  53.25
38  16-06-2019  25.6  26.750  69.00
39  17-06-2019  25.4  23.625  71.25
40  19-06-2019  25.6  27.375  71.25
41  20-06-2019  26.2  27.375  69.00
42  21-06-2019  25.6  27.500  70.25
43  25-06-2019  25.6  26.250  69.25
44  26-06-2019  26.2  28.250  65.25
45  27-06-2019  26.4  24.875  75.75
46  03-07-2019  26.4  28.500  71.00
47  04-07-2019  26.2  27.875  72.75
48  05-07-2019  26.4  28.875  67.50
49  07-07-2019  26.7  26.375  83.00
50  10-07-2019  27.2  29.750  72.75
51  12-07-2019  26.9  28.375  76.50
52  13-07-2019  26.7  28.625  71.75
53  16-07-2019  25.6  26.250  81.00
54  17-07-2019  25.9  26.500  85.75

In [ ]:
# Train Test Splitting the data

X = np.array(df[['x1','x2']])
Y = df['y'].values
X_train, X_test, Y_train, Y_test = train_test_split(
 X, Y, test_size=0.30, random_state=42)

In [ ]:
# Defining Parameters

C_arr = [0.1,1,10,100,1000]
eps_arr = [1,0.1,0.01,0.001,0.0001,0.00001]

In [ ]:
# Hyper tuning SVR Model

hyper_arr = []
hyper_cols =  ['c','epsilon','correlation']
for C in C_arr:
    for epsilon in eps_arr:
        model = SVR(kernel='rbf', C=C, epsilon=epsilon)
        svr = model.fit(X_train, Y_train)
        Y_pred = model.predict(X_test)
        corr = stats.pearsonr(Y_test,Y_pred)[0]
        hyper_arr.append([C,epsilon,corr])

hyper_df = pd.DataFrame(hyper_arr,columns= hyper_cols)
hyper_df = hyper_df.sort_values(by=['correlation'], ascending=False)
hyper_df

         c  epsilon  correlation
17    10.0  0.00001     0.956546
16    10.0  0.00010     0.956541
15    10.0  0.00100     0.956482
14    10.0  0.01000     0.956181
12    10.0  1.00000     0.955948
13    10.0  0.10000     0.955813
18   100.0  1.00000     0.952424
19   100.0  0.10000     0.949554
23   100.0  0.00001     0.947485
22   100.0  0.00010     0.947474
21   100.0  0.00100     0.947463
20   100.0  0.01000     0.947383
6      1.0  1.00000     0.936402
24  1000.0  1.00000     0.931881
10     1.0  0.00010     0.930428
9      1.0  0.00100     0.930428
8      1.0  0.01000     0.930428
11     1.0  0.00001     0.930428
7      1.0  0.10000     0.928674
25  1000.0  0.10000     0.916814
26  1000.0  0.01000     0.915201
27  1000.0  0.00100     0.915002
28  1000.0  0.00010     0.914991
29  1000.0  0.00001     0.914984
0      0.1  1.00000     0.909129
1      0.1  0.10000     0.904454
5      0.1  0.00001     0.904454
4      0.1  0.00010     0.904454
3      0.1  0.00100     0.904454
2      0.1  0.01000     0.904454

In [ ]:
# Building SVR model with best parameters

model_svr = SVR(kernel='rbf', C=10, epsilon=0.00001) # set kernel and hyperparameters
svr = model_svr.fit(X_train, Y_train)
result_df = pd.DataFrame([],columns=[])
result_df['svr_predicted'] = model_svr.predict(X_test) # SVR
result_df['true'] = Y_test
result_df['svr_error'] = abs(result_df['true'] - result_df['svr_predicted'])
result_df

    svr_predicted  true  svr_error
0       22.536291  26.9   4.363709
1       18.594205  16.3   2.294205
2       24.185691  25.6   1.414309
3       17.498262  17.3   0.198262
4       20.297622  20.3   0.002378
5       25.353694  26.7   1.346306
6       25.387405  26.2   0.812595
7       25.203927  25.4   0.196073
8       24.517651  25.6   1.082349
9       19.983954  18.4   1.583954
10      26.587494  26.7   0.112506
11      16.885366  16.8   0.085366
12      24.103409  24.7   0.596591
13      23.989857  25.6   1.610143
14      15.497762  13.8   1.697762
15      20.572032  21.5   0.927968
16      15.972009  16.7   0.727991

In [ ]:
# Comparing SVR and Linear Regression Model

model_lr = LinearRegression()
lr = model_lr.fit(X_train, Y_train)
y_lr = model_lr.predict(X_test)
y_svr = model_svr.predict(X_test)
print("Linear Regression Correlation : ", stats.pearsonr(Y_test,y_lr)[0])
print("SVR Correlation : ", stats.pearsonr(Y_test,y_svr)[0])

print("\nLinear Regression MSE : ", ((y_lr - Y_test)**2).mean(axis=None))
print("SVR MSE : ", ((y_svr - Y_test)**2).mean(axis=None))

Linear Regression Correlation :  0.9329253881306332
SVR Correlation :  0.9565463340755268

Linear Regression MSE :  3.3567228580119832
SVR MSE :  2.3399125768652667

**Saving the Model**

In [ ]:
import pickle

pickle.dump(model_svr, open('model_svr.sav', 'wb'))

**Loading Model**

In [ ]:
loaded_model = pickle.load(open('model_svr.sav', 'rb'))
result_df = pd.DataFrame([],columns=[])
result_df['svr_predicted'] = loaded_model.predict(X_test) # SVR
result_df['true'] = Y_test
result_df['svr_error'] = abs(result_df['true'] - result_df['svr_predicted'])
result_df

    svr_predicted  true  svr_error
0       22.536291  26.9   4.363709
1       18.594205  16.3   2.294205
2       24.185691  25.6   1.414309
3       17.498262  17.3   0.198262
4       20.297622  20.3   0.002378
5       25.353694  26.7   1.346306
6       25.387405  26.2   0.812595
7       25.203927  25.4   0.196073
8       24.517651  25.6   1.082349
9       19.983954  18.4   1.583954
10      26.587494  26.7   0.112506
11      16.885366  16.8   0.085366
12      24.103409  24.7   0.596591
13      23.989857  25.6   1.610143
14      15.497762  13.8   1.697762
15      20.572032  21.5   0.927968
16      15.972009  16.7   0.727991